<section data-ng-controller="MembersCreateController as MembersCreateCtrl">
    <div class="page-header">
        <h1>New Member</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="MembersCreateCtrl.firstName" id="firstName" class="form-control" placeholder="First Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="MembersCreateCtrl.lastName" id="lastName" class="form-control" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" data-ng-model="MembersCreateCtrl.username" id="username" class="form-control" placeholder="Username" required>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="MembersCreateCtrl.email" id="email" class="form-control" placeholder="email" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="phone">Phone number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="MembersCreateCtrl.phone" id="phone" maxlength="14" class="form-control" placeholder="phone" >
                    </div>
                </div>

<!--
                <div class="form-group">
                    <label class="control-label" >Classes taken</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="class" ng-model="class.cs101"> CS101
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="class" ng-model="class.cs234"> CS234
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="class" ng-model="class.cs250"> CS250
                    </label>
                </div>-->



                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>