<section data-ng-controller="MembersController as memberCtrl">

	<div class="modal-header">
		<h4 class="list-group-item-heading">{{member.firstName + ' ' + member.lastName}}</h4>
	</div>
	<div class="modal-body">


		<a class="btn btn-primary" ng-click="memberCtrl.editMember('lg', member)">
			<i class="glyphicon glyphicon-edit"></i>
		</a>

		<ul>
			<li>{{member.phone}}</li>
			<li>{{member.email}}</li>
		</ul>


		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="member.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="member.user.displayName"></span>
			</em>
		</small>



	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="cancel()">close</button>
	</div>



</section>
