<section data-ng-controller="EmailsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="email.subject"></h1>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == email.user._id))">
		<a class="btn btn-primary" href="/#!/emails/{{email._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		</div>
	</div>
	<div class="email-content">
		<p>{{email.content}}</p>
	</div>
	
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="email.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="email.user.displayName"></span>
		</em>
	</small>

	<br><br><hr><br>
	 <label class="control-label" for="subject">To whom you want to send this email?</label>

    <tags-input ng-model="SendTo" type="email" display-property="email" add-on-paste="true" placeholder="Add an email">
      <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0" displayProperty="firstName"loadOnDownArrow="true"></auto-complete>
    </tags-input>
    <p>Model: {{SendTo}}</p>

	<a class="btn btn-primary" data-ng-click="sendEmail();">
			<i class="glyphicon glyphicon-envelope"> Send</i>
	</a>

</section>
